{% extends 'base.html' %}

{% block content %}


<h1>A Post</h1>


<div class="card" style="width: 18rem;">
    <img src="{{ p.img_url }}" class="card-img-top" alt="{{ p.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ p.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ p.author.username }}</h6>
        <h6>Likes: {{ p_likes }}</h6>
        <p class="card-text">{{ p.body }}</p>

        {% if current_user.id == p.user_id %}
            <a href="{{ url_for('ig.updatePost', post_id=p.id) }}" class="btn btn-primary">Update</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete post?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you absolutely sure you want to delete this amazing post???? It will be gone forever!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                            <a href="{{ url_for('ig.deletePost', post_id=p.id) }}" class="btn btn-danger">Delete FOREVER</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}